html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #11114E;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: gainsboro;
    margin-top: 50px;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    line-height: 120px;
    background-color: gainsboro;
}

#message {
    display: none;
    color: gainsboro;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 20px;
}

#settings {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: gainsboro;
}

#popup {
    display: none;
    background-color: rgba(6, 6, 28, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;

}

#popup-box {
    width: 500px;
    height: 200px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 200px auto 0;
    animation-name: slide;
    animation-duration: 3s;
}

@keyframes slide {
    from {margin: -200px auto 0;}
    to {margin: 200px auto 0;}
}

#popup-box span {
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    margin: 5px 10px 0 0;
    cursor: pointer;
}

#popup-box span:hover {
    transform: scale(1.3);
}

#popup-box p {
    text-align: center;
    font-size: 50px;
    line-height: 180px;
    color: #11114E;
    padding-left: 30px;
    margin: 0;
}
