html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #11114E;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: gainsboro;
    margin: 50px;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    background-color: gainsboro;
}

#message {
    display: none;
    color: gainsboro;
    text-align: center;
    font-size: 18px;
}

#game-buttons {
    display: flex;
    width: 350px;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 20px;
}

#game-buttons button, select {
    background-color: gainsboro;
    color: #11114E;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

#game-buttons button:hover, select:hover {
    background-color: floralwhite;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

select {
    padding: 7px;
}

#settings {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: gainsboro;
}

#popup {
    display: none;
    background-color: rgba(6, 6, 28, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;

}

#popup-box {
    width: 500px;
    height: 200px;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 200px auto 0;
    animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 3s;
}

@keyframes slide {
    from {margin: -200px auto 0;}
    to {margin: 200px auto 0;}
}

@-webkit-keyframes slide {
    from {margin: -200px auto 0;}
    to {margin: 200px auto 0;}
}

#popup-box span {
    float: right;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    margin: 5px 10px 0 0;
    cursor: pointer;
}

#popup-box span:hover {
    transform: scale(1.3);
}

#popup-box p {
    text-align: center;
    font-size: 50px;
    line-height: 180px;
    color: #11114E;
    padding-left: 30px;
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    #game-container {
        margin: 30px auto;
    }

    h1 {
        font-size: 40px;
        margin: 25px;
    }

    #message {
        font-size: 15px;
    }

    label {
        font-size: 15px;
        margin-bottom: 15px;
    }

    #game-buttons button, select {
        font-size: 15px;
    }

    #popup-box {
        width: 400px;
        height: 160px;
    }

    #popup-box p {
        line-height: 160px;
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px) {
    #game-container {
        margin: 15px auto;
    }

    h1 {
        font-size: 30px;
        margin: 15px;
    }

    #message {
        font-size: 12px;
    }

    label {
        font-size: 12px;
        margin-bottom: 10px;
    }

    #game-buttons button, select {
        font-size: 12px;
    }

    #popup-box {
        width: 300px;
        height: 120px;
    }

    #popup-box p {
        line-height: 120px;
        font-size: 25px;
    }
}
