<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2048</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/view.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="module"></script>

</head>
<body>
    <h1>2048</h1>
    <p id="message"></p>
    <div id="game-container">
    </div>
    <div id="game-buttons">
        <button id="undoButton">Undo last move</button>
        <button id="newGameButton">Play a new game</button>
    </div>
    <div id="settings">
        <label for="gridSize">Try the game with a different grid size!</label>
        <select id="gridSize">
            <option value="3">3 x 3</option>
            <option value="4" selected>4 x 4</option>
            <option value="5">5 x 5</option>
        </select>
    </div>
    <div id="popup">
        <div id="popup-box">
            <span>×</span>
            <p>Game over!</p>
        </div>
    </div>
</body>
</html>
